# Kickstarter Data Analysis

In [6]:
import pandas as pd

## Step 1 Data Loading

In [25]:
# Load the datasets
df_2016 = pd.read_csv('ks-projects-201612.csv', encoding='utf-8')
df_2018 = pd.read_csv('ks-projects-201801.csv', encoding='utf-8')

C:\Users\lawre\AppData\Local\Temp\ipykernel_2932\726664510.py:2: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2016 = pd.read_csv('ks-projects-201612.csv', encoding='utf-8')

In [26]:
df_2016

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015 11:36,1000,8/11/2015 12:12,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013 0:20,45000,1/12/2013 0:20,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012 4:24,5000,3/17/2012 3:24,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015 1:00,19500,7/4/2015 8:35,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,4/1/2016 13:38,50000,2/26/2016 13:38,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,10/17/2014 2:35,50000,9/17/2014 2:35,25,canceled,1,US,25,NaN,NaN,NaN,NaN
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,7/19/2011 3:35,1500,6/22/2011 3:35,155,failed,5,US,155,NaN,NaN,NaN,NaN
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,8/16/2010 5:59,15000,7/1/2010 19:40,20,failed,1,US,20,NaN,NaN,NaN,NaN
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2/13/2016 2:00,15000,1/13/2016 18:13,200,failed,6,US,200,NaN,NaN,NaN,NaN
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,8/16/2011 9:07,2000,7/19/2011 9:07,524,failed,17,US,524,NaN,NaN,NaN,NaN

In [27]:
df_2018

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015,1000.0,8/11/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/1/2017,30000.0,9/2/2017 4:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013,45000.0,1/12/2013 0:20,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012,5000.0,3/17/2012 3:24,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015,19500.0,7/4/2015 8:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,10/17/2014,50000.0,9/17/2014 2:35,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,7/19/2011,1500.0,6/22/2011 3:35,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,8/16/2010,15000.0,7/1/2010 19:40,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2/13/2016,15000.0,1/13/2016 18:13,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,8/16/2011,2000.0,7/19/2011 9:07,524.0,failed,17,US,524.0,524.0,2000.00

## Step 2: Check for Missing Values

In [37]:
# Check for missing values in both datasets
missing_values_2016 = df_2016.isnull().sum()
missing_values_2018 = df_2018.isnull().sum()

In [36]:
# Remove 'Unnamed' columns
df_2016 = df_2016.loc[:, ~df_2016.columns.str.startswith('Unnamed')]

In [38]:
print("2016 dataset")
missing_values_2016

2016 dataset

ID                   0
name                 4
category             5
main_category        0
currency             0
deadline             0
goal                 0
launched             0
pledged              0
state                0
backers              0
country              0
usd pledged       3790
dtype: int64

In [39]:
print("2018 dataset")
missing_values_2018

2018 dataset

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [35]:
missing_values_2016

ID                     0
name                   4
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

### Check for duplicate

In [40]:
# Check for duplicate rows in both datasets
duplicate_rows_2016 = df_2016.duplicated().sum()
duplicate_rows_2018 = df_2018.duplicated().sum()

In [41]:
duplicate_rows_2016, duplicate_rows_2018

(0, 0)

In [44]:
# Generate summary statistics for the 2016 dataset
summary_stats_2016 = df_2016.describe()

summary_stats_2016

                ID
count  3.237500e+05
mean   1.074943e+09
std    6.193352e+08
min    5.971000e+03
25%    5.375802e+08
50%    1.075818e+09
75%    1.611070e+09
max    2.147476e+09

In [48]:
# Generate summary statistics for all columns
summary_stats_2016_all = df_2016.describe(include='all')

In [49]:
summary_stats_2016

                ID
count  3.237500e+05
mean   1.074943e+09
std    6.193352e+08
min    5.971000e+03
25%    5.375802e+08
50%    1.075818e+09
75%    1.611070e+09
max    2.147476e+09

In [51]:
# Check data types of all columns
print(df_2016.dtypes)

# Generate summary statistics for all columns
summary_stats_2016_all = df_2016.describe(include='all')

print(summary_stats_2016_all)

ID                 int64
name              object
category          object
main_category     object
currency          object
deadline          object
goal              object
launched          object
pledged           object
state             object
backers           object
country           object
usd pledged       object
dtype: object
                 ID                      name        category  main_category   \
count   3.237500e+05                    323746          323745         323750
unique           NaN                    321574             770            120
top              NaN  New EP/Music Development  Product Design   Film & Video
freq             NaN                        41           17477          57679
mean    1.074943e+09                       NaN             NaN            NaN
std     6.193352e+08                       NaN             NaN            NaN
min     5.971000e+03                       NaN             NaN            NaN
25%     5.375802e+08                       NaN             NaN            NaN
50%     1.075818e+09                       NaN             NaN            NaN
75%     1.611070e+09                       NaN             NaN            NaN
max     2.147476e+09                       NaN             NaN            NaN

       currency  deadline    goal  launched  pledged   state  backers   \
count     323750    323750  323750    323750   323750  323750   323750
unique        37    275294    8188    295793    55598     410     3592
top          USD       USD    5000      5000        0  failed        0
freq      260298       508   25520        60    45784  168221    48863
mean         NaN       NaN     NaN       NaN      NaN     NaN      NaN
std          NaN       NaN     NaN       NaN      NaN     NaN      NaN
min          NaN       NaN     NaN       NaN      NaN     NaN      NaN
25%          NaN       NaN     NaN       NaN      NaN     NaN      NaN
50%          NaN       NaN     NaN       NaN      NaN     NaN      NaN
75%          NaN       NaN     NaN       NaN      NaN     NaN      NaN
max          NaN       NaN     NaN       NaN      NaN     NaN      NaN

       country  usd pledged
count    323750       319960
unique      162        94376
top          US            0
freq     257565        50462
mean        NaN          NaN
std         NaN          NaN
min         NaN          NaN
25%         NaN          NaN
50%         NaN          NaN
75%         NaN          NaN
max         NaN          NaN

In [52]:
summary_stats_2016_all

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
count,3.237500e+05,323746,323745,323750,323750,323750,323750,323750,323750,323750,323750,323750,319960
unique,NaN,321574,770,120,37,275294,8188,295793,55598,410,3592,162,94376
top,NaN,New EP/Music Development,Product Design,Film & Video,USD,USD,5000,5000,0,failed,0,US,0
freq,NaN,41,17477,57679,260298,508,25520,60,45784,168221,48863,257565,50462
mean,1.074943e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,6.193352e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5.971000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.375802e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.075818e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.611070e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.147476e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN